*{
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 450px) {
  #menu-button{
    width: 8%;
    position:absolute;
    left:0px;
    top:0px;
  }
}
@media screen and (min-width: 451px) {
  #menu-button{
    height: 8%;
    position:absolute;
    left:0px;
    top:0px;
  }
}
