/* ヘッダー,フッター,メニューバー設定 */
#menu-div{
  background-color: #DFE5FF;
  text-align: center;
}

/* Tpoページに戻るアイコンとカメラ画面に戻るアイコン */
#menu-div img{
  width: 8%;
  display: table-cell inline;
  vertical-align: middle;
}

<<<<<<< HEAD
=======
/* 横画面 */
@media screen and (orientation: landscape) {
  #img-div img{
    border: solid 1px #08088A;
    width: 15%
  }
}
/* 縦画面 */
@media screen and (orientation: portrait) {
  #img-div img{
    border: solid 1px #08088A;
    width: 48%
  }
}
>>>>>>> f932855fef14f8018b4ec59def8e523e77af43c3




/* コピーライト */
#copyrights{
  position: relative;
  bottom: 0px;
  text-align: center;
}

/* 罫線,コピーライトのカラー */
h6,hr{
  color: #08088A;
}
