/* ヘッダー,フッター,メニューバー設定 */
#menu-div{
  background-color: #DFE5FF;
  text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 4b8fd4ee76d925cc5d609508497e7f7af96bf4d2
/* Tpoページに戻るアイコンとカメラ画面に戻るアイコン */
#menu-div img{
  width: 30px;
  display: table-cell inline;
  vertical-align: middle;
}

<<<<<<< HEAD
<<<<<<< HEAD


=======
=======
>>>>>>> 3686e868e41fb94074835b7cb980c9c223b20e53
<<<<<<< HEAD
>>>>>>> 46417f69cd1b8a1ccb72ec8834aeab8a68bb8ad3
=======
=======
>>>>>>> 03348645c10d994ec589f22dd345aae85bd515c1
>>>>>>> 4b8fd4ee76d925cc5d609508497e7f7af96bf4d2
/* 横画面 */
@media screen and (orientation: landscape) {
  #img-div img{
    border: solid 1px #08088A;
    width: 15%;
  }
}
/* 縦画面 */
@media screen and (orientation: portrait) {
  #img-div img{
    border: solid 1px #08088A;
    width: 48%;
  }
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f932855fef14f8018b4ec59def8e523e77af43c3
=======
>>>>>>> 3686e868e41fb94074835b7cb980c9c223b20e53
>>>>>>> 46417f69cd1b8a1ccb72ec8834aeab8a68bb8ad3


/* コピーライト */
#copyrights{
  position: relative;
  bottom: 0px;
  text-align: center;
}

/* 罫線,コピーライトのカラー */
h6,hr{
  color: #08088A;
}
